.container {
  margin: 0 auto;
}

.gridContainer {
  display: flex;
}

.gridItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}
